body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.pp_card{
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
  
      .images{
        width: 130px;
        height: 128px;
        margin-top: 20px;
        border-radius: 100%;
        border: 3px solid rgb(240, 235, 239);
      }

      .name{
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
        color: rgb(0, 0, 0);
        margin-bottom: 5px;
      }
        
      .occupation{
        font-size: 23px;
        font-weight: 400;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: hwb(0 31% 67%);
        margin: 0px 0px 10px 0px;
      }        

                .description {
                  font-size: 14px;
                  font-weight: 300;
                  font-family: 'Times New Roman', Times, serif;
                  color: #353e39;
                  margin: 0px 10px 0px 10px;
                  letter-spacing: 1px;
                  text-align: justify;
                }             
      
                        .contact{
                          font-size: 14px;
                          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                          color: #2f4b39;
                        }